h1, h2, h3, h4, h5, h6 {
	clear: both;
	position: relative;
	width: 100%;
	text-transform: uppercase;
}

.entry-content h1 {
	font-size: 30px;
}

h1.title::after,
p.page-description::after,
h2.title::after,
h3.title::after,
h4.title::after,
h5.title::after,
h6.title::after
{
	// display: block;
 //    width: 34px;
 //    height: 0;
 //    border-bottom: 4px solid;
 //    content: "";
 //    margin-top: .74em;
    

// The dot...
    // display: block;
    // width: 10px;
    // height: 0;
    // border-bottom: 10px solid;
    // content: "";
    // margin-top: .64em;
}
footer.site-footer {
	h3.title::after,
	h4.title::after,
	h5.title::after,
	h6.title::after
	{
		display: none;
	    height: 0;
	    content: "";
	    border-bottom: 3px solid rgba(255,255,255,0.3);
	    width: 22px;
	    margin-top: 1em;
	    @media screen and (min-width: $tabwidth) {
	    	display: block;
	    }
	}
}
header.entry-header {
	width: 100%;
	float: left;
	color: $color-light-blue;
	line-height: 1.1;
	h1.entry-title {
		font-size: .9rem;
		font-weight: 700;
	}
	p.page-description,
	h1.page-description {
		font-size: 3rem;
		font-weight: 700;
		margin: 1.5rem 0 1.5rem;
		text-transform: capitalize;
		@media screen and (min-width: $tabwidth) {
			font-size: 3rem;
			margin: 1.5rem 0 80px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 4rem;
		}
	}
	h1.single-title, .portfolio-title {
		// color: $color-light-blue;
		// font-size: 4rem;
		font-weight: 700;
		font-size: 2.5rem;
		color: $color-davy-grey;
		text-transform: capitalize;
		@media screen and (min-width: $tabwidth) {
			width: 70%;
		}
		@media screen and (min-width: $deskwidth) {

		}
	}
	h1.services-title {
		// color: $color-light-blue;
		// font-size: 4rem;
		font-weight: 700;
		font-size: 2.5rem;
		color: $color-davy-grey;
		text-transform: capitalize;
		@media screen and (min-width: $tabwidth) {
			width: 100%;
			margin: -80px 0 20px 0;
		}
		@media screen and (min-width: $deskwidth) {

		}
	}
	.service-title {
		// color: $color-light-blue;
		// font-size: 4rem;
		font-weight: 700;
		font-size: 1rem;
		color: $color-light-blue;
		text-transform: capitalize;
		@media screen and (min-width: $tabwidth) {
			width: 70%;
			// margin: -50px 0 0 0;
		}
		@media screen and (min-width: $deskwidth) {

		}
	}
	
}
.date {
	color: rgba($color-cadet, .6);
	font-weight: 700;
	margin: 0 0 10px 0;
	font-size: .9rem;
	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $deskwidth) {

	}
}
header.portfolio-header {
	@media screen and (min-width: $tabwidth) {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
	}
	h1 {
		clear: none;
		width: auto;
		margin: 0;
	}
	.client-logo {
		width: 200px;
		float: left;
		@media screen and (min-width: $tabwidth) {
			padding-right: 50px;
		}
		img {
			filter: invert(1);
		}
	}
	.visit-site {
		width: auto;
		margin-left: auto;
		a {
			padding: 10px 20px;
			display: block;
			background-color: $color-mandarin;
			font-size: 20px;
			color: #fff;
			transition: all ease .2s;
			&:hover {
				padding-right: 25;
			}
		}
	}
}





